body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: darkblue
    color: lightblue
    padding: 50px;
    text-align: center;
}  

nav ul {
    list-styke-type: none;
    margin: 0;
    padding: 0;
} 

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: lightblue;
    text-decoration: none;
} 

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
} 

footer {
    background-color: red;
    color: pink;
    text-align: center;
    padding: 20px 0;
}